@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;900&display=swap');
/* font-family: 'Montserrat', sans-serif; */

*{
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.bg-black {
    background-color: #000;
}

.bg-white {
    background-color: #fff;
}

.bg-blue {
    background-color: #0a2ff1;
}

.fc-black {
    color: #000;
}

.fc-white {
    color:#fff;
}

.fc-blue {
    color: #0a2ff1;
}

.fw-black {
    font-weight: 900;
}

.fw-semibold {
    font-weight: 600;
}

.fz-36 {
    font-size: 36pt;
}

.fz-44{
    font-size: 44pt;
}

.fz-45{
    font-size: 45pt;
}

.fz-50{
    font-size: 50pt;
}

.fz-148 {
    font-size: 148pt;
}

.fz-163 {
    font-size: 163pt;
}

.ta-center {
    text-align: center;
}

p, .sec1, .sec2, .sec3, .sec4, .sec5 {
    margin: 0;
    padding: 0;
}

.sec1 {
    padding-bottom: 100px;
}

.sec3 {
    padding: 100px 0;
}

.sec5 {
    padding-top: 50px;
}

.sec0 {
    height: 60px;
}

.sec6 {
height: 120px;

}